/* Breakpoints */
$small: 440px;
$s-medium: 570px;
$medium: 761px;
$large: 960px;
$x-large: 1060px;
$xx-large: 1440px;  
$xxx-large: 1920px;

$primary-color: #cd08c5;
$opacity-pink: #f4c2e1;
$target-pink: #FF7BFA;
$grey-light-color: #e5e5e5;
$grey-color: #d8d8d8;
$secondary-color: #5855d6;
$linear-primary: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 70.06%),
  linear-gradient(90.02deg, #00a3ff 27.65%, #ff00b8 72.78%); ;
